body {
    font-family: Arial ,  sans-serif;
    background-color: black;
    color: #c9d1d9;
}

h1 {
    color: aqua;
}

/* Attribute Selector */
a {
    color: aqua;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

/* Child Selector */
ul > li {
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
/* Sibling Selector */
h1+p {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

/* :hover Pseudo-class */
ul li:hover {
    color: aqua;
}

/* :nth-child(n) Pseudo-class */
ul li:nth-child(3) {
    background-color: black;
}

/* :not(selector) Pseudo-class */
p:not(:first-of-type) {
    text-decoration: underline;
}

/* ::before Pseudo-element */
ul li::before {
    content: "🚀";
}

/* ::after Pseudo-element */
a::after {
    content: " 🌌";
}

/*::first-letter Pseudo-element */
p::first-letter {
    font-size:200%;
    color:#FF7B72;
}
